<div class="content-home">
    <div class="section-one">
        <div class="row main-panel">
            <div class="col-lg-5 pt-5">
                <div  class="float-end main-panel-content">
                    <div>
                        <h1 id="home-title" class="text-wrap" style="width: 30rem;">
                            Planeje e gerencie suas aulas da maneira mais fácil!
                        </h1>
                        <h4 class="py-2">Faça seu cadastro e <b>teste gratuitamente</b></h4>
                    </div>
                    <div>
                        <div class="px-0 float-end">
                            <button class="btn btn-lg btn-bg-blue-900 text-white" type="submit">Cadastre-se</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-0 pt-5">
                <div class="d-flex justify-content-center">
                        <img src="../../assets/images/teacher-remote-class1.jpg"
                            alt="caminhão de mudanças" width="600" height="600">
                </div>
            </div>
        </div>
    </div>
    <div class="section-two">
        <div class="row">
            <div class="second-title">
                <h1 class="py-4">Gerenciar aulas nunca foi tão simples</h1>
            </div>
        </div>
        <div class="section-spacer"></div>
        <div class="row">
            <div class="col-6 px-4">
                <div class="row justify-content-end">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <h3>1. Planejei suas aulas</h3>
                        <p>
                            Consulte livremente os perfis e entre em contato com o motorista ideal de acordo com os seus critérios (tarifa, avaliações, localização)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 px-4">
                <div class="d-flex justify-content-start">
                    <img src="../../assets/images/calendar1.jpg" class="rounded float-end" width="360" height="320"
                        alt="lupa - icone de pesquisa">
                </div>
            </div>
        </div>
        <div class="section-spacer"></div>
        <div class="row">
            <div class="col-6 px-4">
                <div class="d-flex justify-content-end">
                    <img src="../../assets/images/teacher-remote-class2.jpg" class="rounded float-end" width="360" height="320"
                        alt="caminhão de mudanças">
                </div>
            </div>
            <div class="col-6 px-4">
                <div class="row justify-content-start">
                    <div class="col-4">
                        <h3>2. Gerencie seus estudantes</h3>
                        <p>
                            Rápido e fácil, os motoristas respondem em algumas horas! E se você não conseguir encontrar o motorista perfeito, a nossa equipe está sempre pronta pra ajudar.
                        </p>
                    </div>
                    <div class="col-8"></div>
                </div>
            </div>
        </div>
        <div class="section-spacer"></div>
        <div class="row">
            <div class="col-6 px-4">
                <div class="row justify-content-end">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <h3>3. Veja o Histórico</h3>
                        <p>
                            Converse e programe sua viagem através da nossa caixa de mensagens com o motorista.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 px-4">
                <div class="d-flex justify-content-start">
                    <img src="../../assets/images/calendar2.jpg" class="rounded float-end" width="360" height="320"
                        alt="caminhão de mudanças">
                </div>
            </div>
        </div>
        <div class="section-spacer"></div>
    </div>
</div>