<div id="pricing-content" class="container min-vh-80">
    <div class="col-8 offset-2">
        <div class="row my-5">
            <div class="col-6">
                <div id="card-personal" class="card shadow-sm bg-body me-4">
                    <div class="card-header text-center">Pessoal</div>
                    <div class="card-body">
                        <ul class="col-12">
                            <li>Planeje suas aulas de maneira ilimitada;</li>
                            <li>Cadastro de até 5 estudantes;</li>
                        </ul>
                        <div class="col-12 py-5">
                            <h5 class="text-center">Grátis</h5>
                            <h6 class="text-center">Por tempo ilimitado</h6>
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x my-4">
                            <div class="btn btn-outline-success">Começar Agora</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="card-personal-pro" class="card shadow-sm bg-body ms-4">
                    <div class="card-header text-center">Pessoal Pro</div>
                    <div class="card-body">
                        <ul>
                            <li>Planeje suas aulas de maneira ilimitada;</li>
                            <li>Cadastro de estudantes ilimitados;</li>
                            <li>Recursos Extras;</li>
                        </ul>
                        <div class="col-12">
                            <h5 class="text-center">Por 29,90/mês</h5>
                            <h5 class="text-center">Ou</h5>
                            <h5 class="text-center">Por 199,90/ano</h5>
                        </div>
                        <div class="position-absolute bottom-0 start-50 translate-middle-x my-4">
                            <div class="btn btn-outline-success">Expiremente Grátis</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
