<div id="about-content" class="container-fluid">
    <div class="row">
    <div class="col-6">
        <div class="d-flex justify-content-end">
        <img class="bg-image" src="../../assets/images/teachers1.jpg" alt="professores">
    </div>
    </div>
    <div class="col-6">
        <div class="text-box">
        <h3 class="mb-4">Sobre nós</h3>
        <p>Visto o cenário atual de grande demanda de ensino online de diversas areas,
            vimos a necessidade de muitos em gerenciar suas aulas e estudantes!</p>
        <p>De maneira que buscamos oferecer mais conforto e facilidade a diversos professores,
            idealizamos a ProfPlanner, essa plataforma de gerenciamento de aulas de baixo custo
            para professores que dão aulas remotamente.</p>
        </div>
    </div>
</div>
</div>